<div class="card-container">

  <div *ngIf="!loggedIn">

    <h1 x-large class="sample-content">Vancify, the Spotify Visualizer</h1>

    Please login to Spotify and authorize this application.

    <button (click)="onLoginClick()"> LOGIN </button>

  </div>



  <div *ngIf="loggedIn">

    <div id="username">Welcome, {{user.display_name}}</div>


    <div>
      <h4>Find connections between two concepts.</h4>
      <p>Example: cat and dog </p>


      <div class="concept-wrapper">

        <span class="concept-label">First Concept</span> <input  [(ngModel)]="queryInput.search1" name="name" type="text"/>  <br/>
        <span class="concept-label">Second Concept</span> <input  [(ngModel)]="queryInput.search2" name="name" type="text"/>
        <br/>
        <div *ngIf="queryInput.search1.length && queryInput.search2.length " class="controls">
          <button (click)="search()"> SEARCH </button>
          <span class="small-link" (click)="restart()"> RESTART </span>
        </div>
      </div>



      <div id="album-inspector" *ngIf="matchingWords">

        <div *ngIf="selectedAlbum">

          <span>
            <img src="{{selectedAlbum.image}}" class="album-cover"/>
          </span>

          <span class="album-details">
            <a href="{{selectedAlbum.href}}">{{selectedAlbum.name}} </a> <br/>
            By: {{selectedAlbum.artists[0].name}}
          </span>

        </div>

      </div>

      <div *ngIf="matchingWords">
        The common word is <b>{{matchingWords.w1}}</b>. From the albums:
        <br/> {{connectingAlbums.c1.name }} &#x2190; &#x2192; {{connectingAlbums.c2.name}}
      </div>


      <visualizer-force (albumEmitter)="onAlbumSelected($event)" [nodeList]="nodeList" [linkList]="linkList"></visualizer-force>


    </div>




  </div>

</div>
